* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  /* outline: 0; */
}

:root {
  --color-primary: #194668;
  --color-secondary: #c5804b;
  --color-white: #ffffff;
  --color-gray: #c2c2c2;
  --color-gray2: #3b3b3b;
  --color-gray3: #f4f0f0;

  --container-lg: 92%;
  --container-mg: 88%;

  --transition: all 400ms ease;

  --boxshadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  --box-shadow-inset: 6px 6px 5px #e4e3e3, inset 0 0 5px 0 rgba(0, 0, 0, 0.1);
  --box-shadow-inset2: 2px 6px 5px #e4e3e3, inset 0 0 0 0 rgba(0, 0, 0, 0.1);
}

.short__text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.container__lg {
  width: var(--container-lg);
  margin: 0 auto;
  max-width: 2160px;
}

.container {
  width: var(--container-mg);
  margin: 0 auto;
  max-width: 2160px;
}

img {
  width: 100%;
}

p {
  line-height: 1.8;
  color: var(--color-gray2);
}

input[type='text'],
input[type='email'] {
  background: #fff;
  border: 0;
  outline: 0;
}

input[type='text']:focus,
input[type='email']:focus {
  border: 0;
  outline: 0;
}

.search__listing {
  appearance: none;
  outline: 0;
  border: 0;
}
.search__listing option {
  border: 0;
}

.btn__white a {
  background: var(--color-white);
  padding: 0.8rem 1.8rem;
  border-radius: 20px;
  color: var(--color-primary);
  transition: var(--transition);
}

.btn__white a:hover {
  box-shadow: var(--boxshadow);
  color: var(--color-white);
  background-color: var(--color-primary);
}

.btn__blue a {
  background: var(--color-primary);
  padding: 0.8rem 1.8rem;
  border-radius: 20px;
  color: var(--color-white);
  transition: var(--transition);
}

.btn__blue a:hover {
  box-shadow: var(--boxshadow);
  color: var(--color-white);
  background-color: var(--color-secondary);
}

body {
  font-family: 'Inter', sans-serif;
}

.header__section {
  background-image: url('../images/banner.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

.overlay {
  /* border-image: linear-gradient(to right, hsla(240, 100%, 50%, 0.37), hsla(0, 0%, 100%, 0)) fill 1; */
  border-image: linear-gradient(to right, hsla(240, 100%, 50%, 0.37), hsla(0, 0%, 100%, 0)) fill 1;
}

/* =========== NavBar ============ */
nav {
  height: 5rem;
  width: 100vw;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.window-scrolled {
  /* background: var(--color-bg-2); */
  /* border-bottom: 0.2rem solid var(--color-bg-3);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); */
  height: 5rem;

  /* background: var(--color-primary); */
  border-bottom: var(--color-secondary) 1px solid;
  background: rgba(25, 70, 104, 0.65);
  -webkit-backdrop-filter: blur(44px);
  backdrop-filter: blur(34px);
}

.nav__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.nav__toggle-btn {
  display: none;
}

.nav__logo {
  width: 9rem;
  color: var(--color-white);
}

.nav__links {
  display: flex;
  gap: 3rem;
}

.nav__links li a {
  color: var(--color-white);
  transition: var(--transition);
}

.nav__links li a:hover {
  color: var(--color-secondary);
}

/* ===== Banner Section Starts ======== */
.banner__section {
  padding-top: 10rem;
  position: relative;
  margin: auto;
}

.banner__section h1 {
  color: var(--color-white);
  font-size: 46px;
  max-width: 800px;
}

.banner__text {
  margin-top: 1rem;
}

.banner__text p {
  max-width: 600px;
  color: var(--color-white);
  line-height: 1.5;
}

.banner__user {
  margin-top: 2rem;
  display: flex;
  gap: 1.3rem;
  align-items: center;
  background-color: var(--color-white);
  max-width: 300px;
  padding: 0.5rem;
  border-radius: 70px;
}

.user__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: var(--color-secondary) 3px solid;
}

.user__image img:nth-child(2),
.user__image img:nth-child(3),
.user__image img:nth-child(4) {
  margin-left: -1.3rem;
}

.user__amount p {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 14px;
}

.user__amount p:nth-child(2) {
  margin-top: -0.5rem;
}

.cta__buttons {
  margin-top: 5rem;
  display: flex;
  gap: 2rem;
}

.search__section {
  position: relative;
  margin-top: -3rem;
}

.search__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-white);
  padding: 1rem 1rem 1rem 2rem;
  border-radius: 70px;
  max-width: 800px;
  box-shadow: var(--box-shadow-inset2);
}

.search__menu label {
  font-size: 14px;
}

.search__listing option {
  font-size: 14px;
}

.search__country,
.search__state,
.search__location,
.search__listing {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  cursor: pointer;
}

.search__menu-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1.5rem 2rem 1.5rem 2rem;
  border-radius: 0 30px 30px 0;
  transition: var(--transition);
  cursor: pointer;
}

.search__menu-btn:hover {
  box-shadow: var(--boxshadow);
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.search__listing {
  font-weight: bold;
  color: var(--color-primary);
}

/* ======= Most Viewed Starts ======== */
.most__viewed-section {
  margin-top: 5rem;
}

.view__text {
  max-width: 500px;
  margin: auto;
}

.view__text h2 {
  text-align: center;
  font-size: 36px;
  color: var(--color-primary);
}

.view__text p {
  margin-top: 1rem;
  text-align: center;
}

.viewed__properties {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.viewed__props {
  box-shadow: var(--box-shadow-inset);
  /* clip-path: polygon(0 26%, 50% 0, 100% 26%, 100% 100%, 0% 100%); */
  padding: 5px;
  border-radius: 10px;
}

.props__images img {
  /* clip-path: polygon(0 26%, 50% 0, 100% 26%, 100% 100%, 0% 100%); */
  border-radius: 8px;
}

.props__ad {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  margin-top: 1rem;
  align-items: center;
}

.props__details {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  gap: 0.3rem;
}

.props__details h6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prop__location p {
  font-size: 12px;
}

.props__value {
  margin-top: 1rem;
  padding: 0 0.5rem 1rem;
}

.props__value h3 {
  font-size: 14px;
  font-weight: 800;
  color: var(--color-primary);
}

.props__pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.props__pagination i {
  color: var(--color-gray);
  font-size: 12px;
}

.props__pagination i.active {
  color: var(--color-primary);
}

/* ======= Most Viewed Ends ======== */

/* ======= Content 1 Section Starts ======== */
.content1__section {
  margin-top: 5rem;
}

.content1__container {
  display: grid;
  grid-template-columns: 55% 43%;
  gap: 2%;
  align-items: center;
}

.content1__img {
  max-width: 600px;
}

.content1__img img {
  border-radius: 30px;
  box-shadow:
    12px 10px 15px -3px rgba(0, 0, 0, 0.1),
    14px 14px 4px -3px #c5804b;
}

.content1__content h2 {
  text-align: start;
  font-size: 36px;
  color: var(--color-primary);
  max-width: 400px;
}

.content1__btn {
  margin-top: 3rem;
}

/* ======= Content 1 Section Ends ======== */

/* ======= Content 2 Section Starts ======== */
.content2__section {
  margin-top: 5rem;
}

.content2__top h2 {
  color: var(--color-primary);
  font-size: 36px;
  text-align: center;
}

.content2__top p {
  text-align: center;
  max-width: 600px;
  margin: auto;
  margin-top: 1rem;
}

.content2__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin-top: 2rem;
}

.content2__card {
  box-shadow: var(--box-shadow-inset2);
  padding: 2rem 2rem;
  transition: var(--transition);
  border-radius: 20px;
}

.content2__card:hover {
  box-shadow: var(--box-shadow-inset);
}

.content2__card i {
  padding: 1rem;
  background-color: var(--color-gray);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content2__card h3 {
  color: var(--color-primary);
  margin-top: 1rem;
}

.content2__card p {
  margin-top: 0.8rem;
}

/* ======= Content 2 Section Ends ======== */

/* ======= Content 3 Section Starts ======== */
.content3__section {
  margin-top: 5rem;
}

.content3__container {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 15%;
  align-items: center;
}

.content3__left h2 {
  color: var(--color-primary);
  font-size: 36px;
  max-width: 500px;
}

.content3__cards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  position: relative;
}

.content3__cards i {
  padding: 1rem;
  background-color: var(--color-gray);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content3__card {
  position: relative;
}

.content3__right {
  position: relative;
}

.content3__rotate {
  transform: skew(15deg);
  width: 250px;
  position: relative;
  margin-top: 3rem;
  box-shadow:
    33px 0px 43px 45px #194668,
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.content3__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
}

.list__content ul {
  margin-left: 1rem;
}

.list__content ul li {
  list-style: disc;
  color: var(--color-gray2);
}

/* ======= Content 3 Section Ends ======== */

/* ======= Content 4 Section States ======== */
.content4__section {
  margin-top: 7rem;
}

.content4__container {
  position: relative;
}

.content4__container img {
  border-radius: 30px;
  box-shadow:
    12px 10px 15px -3px rgba(0, 0, 0, 0.1),
    14px 14px 4px -3px #c5804b;
}

.content4__form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-bottom: auto;
  left: 10%;
  width: 550px;
}

.content4__form h2 {
  color: var(--color-white);
  font-size: 36px;
  max-width: 500px;
}

.content4__form p {
  color: var(--color-white);
  margin-top: 1rem;
}

.content4__form form {
  margin-top: 1rem;
}

.content4__form form input {
  padding: 0.8rem 1rem;
  margin-right: 0.2rem;
}

.content4__form form button {
  padding: 0.8rem 1rem;
  border-radius: 0 30px 30px 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: var(--transition);
  cursor: pointer;
}

.content4__form form button:hover {
  box-shadow: var(--boxshadow);
  color: var(--color-white);
  background-color: var(--color-secondary);
}

/* ======= Content 4 Section Ends ======== */

/* ======= Footer Section Starts ========= */
.footer__section {
  margin-top: 5rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}

.footer__card p {
  margin-top: 1rem;
}

.footer__icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.footer__icons a i {
  color: var(--color-primary);
  transition: var(--transition);
  /* padding: 0.5rem; */
  /* width: 30px;
  height: 30px;
  border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icons a i:hover {
  box-shadow: var(--box-shadow);
  /* background-color: var(--color-secondary); */
  color: var(--color-secondary);
  /* padding: 0.5rem; */
}

.footer__card h5 {
  color: var(--color-primary);
  font-weight: 900;
}

.footer__card ul {
  margin-top: 1rem;
}

.footer__card ul li {
  margin-top: 1rem;
}

.footer__card ul li a {
  color: var(--color-gray2);
  transition: var(--transition);
}

.footer__card ul li a:hover {
  color: var(--color-primary);
}

.footer__note p {
  display: flex;
  align-items: first baseline;
  gap: 0.5rem;
  color: var(--color-gray2);
}

.footer__note p i {
  color: var(--color-primary);
}

.footer__copyright {
  border-top: var(--color-gray) 1px solid;
  padding: 3rem 0;
  margin-top: 2rem;
  text-align: center;
}

.footer__copyright a {
  color: var(--color-primary);
  transition: var(--transition);
}

.footer__copyright a:hover {
  color: var(--color-secondary);
}

/* ======= Footer Section Ends ========= */

/* ======= Properties Page Section Starts ======= */
.header__properties {
  background-image: url('../images/banner.jpg');
  height: 5rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: relative;
}

body {
  background-color: var(--color-gray3);
}

.property__listing {
  margin-top: 5rem;
}

.listing__main {
  display: grid;
  grid-template-columns: 10% 30% auto;
  gap: 10%;
}

.listing__filter {
  background-color: var(--color-gray);
  padding: 2rem;
  border-radius: 15px;
}

.prop__type {
  background-color: var(--color-white);
  margin-top: 1rem;
  max-width: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.rent__prop {
  background-color: var(--color-primary);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  color: var(--color-white);
  cursor: pointer;
}

.buy__prop {
  background-color: var(--color-white);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.search__values {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.search__values label {
  display: flex;
  flex-direction: column;
}

.search__values select,
.search__values input {
  margin-top: 0.5rem;
  border-radius: 5px;
  padding: 0.5rem 0.2rem;
}

.props__typebtn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.props__typebtn button {
  width: 70px;
  /* height: 40px; */
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: var(--color-white);
  color: var(--color-primary);
  font-size: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-inset2);
  cursor: pointer;
  transition: var(--transition);
}

.props__typebtn button:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.props__typebtn button .active {
  background-color: var(--color-primary);
  color: var(--color-white);
}

/* ======= Properties Page Section Ends ======= */

/* Mobile Device BreakPoints */
@media screen and (max-width: 992px) {
  header {
    height: 50vh;
  }
  .nav__socials {
    display: none;
  }
  .nav__links {
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    gap: 0;
    display: none;
  }
  .nav__links li {
    height: 5rem;
    box-shadow: -1rem 1rem 0.5rem rgba(206, 205, 205, 0.7);
    z-index: 999;
  }
  .nav__links li a {
    background: var(--color-primary);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 5rem 1rem 3rem;
    border-top: 1px solid var(--color-secondary);
  }
  .nav__toggle-btn {
    display: inline-block;
    font-size: 2rem;
    background: transparent;
    cursor: pointer;
    color: var(--color-white);
  }
  #nav__toggle-close {
    display: none;
  }
  .nav__links {
    perspective: none;
  }
  .btn__white a {
    display: none;
  }

  /* ============= ANIMATION 2 ================ */
  .nav__links li {
    transform: rotateY(90deg) rotateX(-90deg);
    transform-origin: top right;
    animation: animation2 1s ease forwards;
    opacity: 0;
  }

  .nav__links li:nth-child(2) {
    animation-delay: 300ms;
  }

  .nav__links li:nth-child(3) {
    animation-delay: 600ms;
  }

  .nav__links li:nth-child(4) {
    animation-delay: 900ms;
  }

  .nav__links li:nth-child(5) {
    animation-delay: 1200ms;
  }

  @keyframes animation2 {
    to {
      transform: rotate(0);
      opacity: 1;
    }
  }
  /* ============= REVERSE ANIMATION 2 ================ */
  .nav__links.reverse li {
    transform: rotate(0);
    animation: reverseAnimation2 1s ease forwards;
    opacity: 1;
  }

  @keyframes reverseAnimation2 {
    to {
      transform: rotateY(90deg) rotateX(-90deg);
      opacity: 0;
    }
  }
  .search__menu {
    gap: 1rem;
  }
  .content1__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .content1__img {
    max-width: 100%;
  }
  .content2__body {
    grid-template-columns: 1fr;
  }
  .content3__container {
    display: flex;
    flex-direction: column-reverse;
    gap: 5rem;
  }
  .content3__img {
    left: 10rem;
  }
  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  input[type='text'],
  input[type='email'] {
    background: #fff;
    border: 0;
    outline: 0;
    text-align: center;
  }
  header {
    height: 100vh;
  }
  .banner__section h1 {
    font-size: 40px;
    text-align: center;
  }
  .banner__text p {
    text-align: center;
  }
  .banner__user {
    max-width: 400px;
    padding: 1rem;
  }

  .user__image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: var(--color-secondary) 3px solid;
  }

  .search__menu label {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .search__section {
    margin-top: 3rem;
  }
  .search__menu {
    gap: 1rem;
    flex-direction: column;
    align-items: normal;
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 30px;
  }
  .search__menu-btn {
    display: block;
    border-radius: 30px;
    padding: 1rem;
  }
  .search__menu-btn i {
    margin-right: 1rem;
  }
  .viewed__properties {
    grid-template-columns: 1fr;
  }
  .content3__rotate {
    width: 171px;
    margin-right: 4rem;
  }
  .content3__img {
    left: 3.5rem;
  }
  .content4__form h2 {
    font-size: 26px;
    margin-top: 2rem;
  }
  .content4__container img {
    height: 300px;
  }
  .content4__form p {
    max-width: 300px;
    line-height: 1.5;
  }
  .content4__form input[type='email'] {
    text-align: start;
  }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
